In [1]:
import pandas as pd
import geopandas as gdp
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r'../../Machine Learning/Data Incubator/Motor_Vehicle_Collisions_-_Crashes.csv')

C:\Users\Lenovo\Anaconda3\envs\cs231n\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,11/27/2018,14:50,BROOKLYN,11207,40.683730,-73.890450,POINT (-73.89045 40.68373),NaN,NaN,341 HIGHLAND BOULEVARD,...,Unspecified,NaN,NaN,NaN,4047436,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,11/27/2018,21:30,QUEENS,11378,40.729343,-73.902626,POINT (-73.902626 40.729343),63 STREET,53 DRIVE,NaN,...,NaN,NaN,NaN,NaN,4033942,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
2,11/28/2018,14:30,NaN,NaN,40.680313,-73.842026,POINT (-73.842026 40.680313),ROCKAWAY BOULEVARD,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4034329,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
3,11/26/2018,16:22,NaN,NaN,40.766340,-73.894165,POINT (-73.894165 40.76634),GRAND CENTRAL PKWY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4033186,Sedan,Sedan,NaN,NaN,NaN
4,11/26/2018,23:17,NaN,NaN,40.767117,-73.956505,POINT (-73.956505 40.767117),EAST 71 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4033381,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1697567,07/01/2012,21:10,NaN,NaN,NaN,NaN,NaN,HOR HARDING EXPRESSWAY SR SOUTH,108 STREET,NaN,...,Unspecified,NaN,NaN,NaN,264080,AMBULANCE,PASSENGER VEHICLE,NaN,NaN,NaN
1697568,07/01/2012,8:37,QUEENS,11435,40.694545,-73.802112,POINT (-73.802112 40.6945453),SOUTH ROAD,SUTPHIN BOULEVARD,NaN,...,NaN,NaN,NaN,NaN,208724,UNKNOWN,NaN,NaN,NaN,NaN
1697569,07/01/2012,9:15,QUEENS,11429,40.711860,-73.735538,POINT (-73.7355383 40.7118601),219 STREET,104 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,219394,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1697570,07/01/2012,9:40,MANHATTAN,10002,40.714069,-73.997504,POINT (-73.9975038 40.7140687),DIVISION STREET,CATHERINE STREET,NaN,...,Driver Inexperience,NaN,NaN,NaN,5294,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN
1697571,07/01/2012,22:15,QUEENS,11354,40.767754,-73.831924,POINT (-73.8319235 40.7677542),LINDEN PLACE,32 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,245565,MOTORCYCLE,UNKNOWN,NaN,NaN,NaN